html, body{
    height: 100%;
}

.s-m-b-2 {
    margin-bottom: 25px !important;
}

body {
    font-family: "Open Sans", sans-serif;*;
    font-weight: 400;
    background-color: #f1f1ea;
    padding:2em;
}

@media (min-width: 1200px) {
	.requestCard {
	    width: 700px;
        margin-left: 350px;
	}
}

/*Drag drop stuff*/

.item {
    background-color: #DDD;
    cursor: move;
    text-align: center;
}

.validationMessage {
    color: #a94442;
}
