{% include 'common-header.html' %}
<script type="text/javascript" src="/static/js/home.js"></script>

    <body>
        <div >
            <a href="/new_feature_request" class="btn btn-primary pull-right s-m-b-2" role="button">Request new feature</a>
        </div>
        <div class="container">
	        <table class="table table-striped table-hover table-bordered">
                <thead>
                    <tr>
                        <th>Priority</th>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Client</th>
                        <th>Target Date</th>
                        <th>Product Area</th>
                        <th>Update</th>
                    </tr>
                </thead>
            	<!-- ko if: featureRequests().length > 0 -->
                <tbody data-bind="sortable: featureRequests">
		            <tr class="item">
		                <td data-bind="text: client_priority"></td>
                        <td data-bind="text: title"></td>
                        <td data-bind="text: description"></td>
                        <td data-bind="text: client"></td>
		                <td data-bind="text: moment(target_date).format('MMM DD YYYY')"></td>
                        <td data-bind="text: product_area"></td>    
                        <td><a data-bind="attr: {href: '/edit?id=' + id}">Edit</a> | <a href: "#" data-bind="click: $parent.confirmDelete">Delete</a></td>
		            </tr>
	        	</tbody>
            	<!-- /ko -->
	        </table>
	    </div>
    </body>
</html>