{% include 'common-header.html' %}
<script type="text/javascript" src="/static/js/new_feature_request.js"></script>
    <body>
        <div>
            <form class="container" >
                <h2 class="ui center aligned header" style="text-align: center;">New Feature Request</h2>
                <hr>
                <div class="form-group row">
                    <div class="col-xs-12 col-md-6 col-lg-6">
                        <div class="s-m-b-2 ">
                            <label>Title</label>
                            <input id="title" class="form-control" type="text" data-bind="textinput: newTitle" placeholder="Title of the feature" />
                        </div>
                        <div class="s-m-b-2">
                            <label>Description</label>
                            <textarea id="description" class="form-control" rows="5" cols="75" placeholder="Description of the feature" data-bind="textinput: newDescription"></textarea>
                        </div>             
                    </div>
                    <div class="col-xs-12 col-md-6 col-lg-6">
                        <div class="s-m-b-2">
                            <label>Client</label>
                            <select class="form-control" data-bind="options: clientList,
                                                                value: newClient,
                                                                optionsCaption: 'Choose the Client...'
                                                                "></select>                    
                        </div>
                        <div class="s-m-b-2">
                            <label>Priority</label>
                            <input id="priority" class="form-control" type="number" data-bind="textinput: newPriority" placeholder="Numbered priority for a client" />
                        </div>
                        <div class="s-m-b-2">
                            <label>Target date</label>
                            <input id="targetDate" class="form-control" data-bind="textinput: newTargetDate" type="date" placeholder="Date on which the client wants the feature">
                        </div>
                        <div class="s-m-b-2">
                            <label for="newProductArea">Product Area</label>
                            <select class="form-control" data-bind="options: productAreaList,
                                                                    value: newProductArea,
                                                                    optionsCaption: 'Choose the Product Area...'
                                                                    "></select>                    
                        </div>
                    </div>
                </div>            
                <div class="row">
                    <div class="col-xs-12 col-lg-12 col-md-12">
                        <button class="btn btn-primary btn-block" data-bind="click: submitRequest">Submit Request</button>
                    </div>
                </div>
            </form>
        </div>
    </body>
</html>