{% include 'common-header.html' %}
<script type="text/javascript" src="/static/js/signup.js"></script>
    <div class="col-sm-9 col-lg-10">
        <div class="row">
            <div class="col-lg-offset-3 col-lg-5 col-md-10 col-sm-10 main-section">
                <div class="giant-holder">
                    <div class="giant-card">
                        <h3>Sign Up</h3>
                        <div style="min-height: 24px;">
                                <p class="validationMessage alert alert-warning" data-bind="text: error, visible: error"></p>
                        </div>
                        <form>
                            <div class="form-group error-space">
                                <label for="loginUsername">Username</label>
                                <input type="text" id="loginUsername" placeholder="Username" class="form-control" data-bind="value: username" />
                            </div>
                            <div class="s-m-b-2">
                                <label>Client</label>
                                <select class="form-control" data-bind="selectize: client, selectizeOptions: clientList, optionsText: 'name', optionsSearch: 'name', optionsValue: 'name', selectizePlaceholder: 'Select your Client'"></select>                    
                            </div>
                            <div class="form-group error-space">
                                <label for="login_password">Password</label>
                                <input type="password" id="login_password" placeholder="Password" class="form-control" data-bind="value: password" />
                            </div>
                            <div class="form-group error-space">
                                <label for="confirmPassword">Confirm Password</label>
                                <input type="password" id="confirmPassword" placeholder="Confirm Password" class="form-control" data-bind="value: confirmPassword" />
                            </div>
                            <div class="form-group mt8">
                                <input type="button" value="Sign Up" class="form-control btn btn-primary" data-bind="click: signup" />
                            </div>
                        </form>
                        <div>Already have an account? <a class="clickable" href="/login">Click here to login</a>.</div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>